:root{
    --mainBlue: #C1CDCD;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --darkBlue: #455e86;
    --lightBlue: #0077b5;
    --mainYellow: #ffdb58;
}

body{
    font-family: 'Lato', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-dark-blue {
    color: var(--darkBlue);
}

.text-light-blue {
    color: var(--lightBlue);
}

.text-white {
    color: var(--mainWhite);
}

.fill-blue {
    background-color: var(--mainBlue);
}