:root{
    --mainPurple:#77628c;
    --lightPurple:#7b52ae;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainGreen:#acc6aa;
    --lightBlue: #71a0a5;
}

body{
    font-family: 'Lato', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-purple {
    color: var(--mainPurple);
}

.text-bright {
    color: var(--lightPurple);
}

.fill-purple {
    background-color: var(--mainPurple);
}

.fill-bright {
    background-color: var(--lightPurple);
}